@charset "UTF-8";

/* 共通
-------------------- */
html {
    font-size: 100%;
    box-sizing: border-box;
}
body {
    font-family: "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #323339;
}
img {
    width: 100%;
    height: auto;
}
a {
    color: #323339;
}

/* レイアウト */
.align-center {
    width: 1200px;
    margin: 0 auto;
    /* padding: 0 20px; */
}


/* 見出し */
h2 {
    font-size: 32px;
    line-height: 54px;
    font-weight: 700;
}
.h2-title {
    text-align: center;
    margin-bottom: 55px;
}
h3 {
    font-size: 24px;
    line-height: 41px;
    font-weight: 700;
}
/* ボタン */
.btn {
    line-height: 19px;
    background-color: #1fa9c3;
    color: #fff;
}
.cta {
    line-height: 19px;
    background-color: #e59b25;
    color: #fff;
}

/* header
-------------------- */
.header-body {
    display: flex;
    justify-content: space-between;
    height: 48px;
    top: 0;
    left: 0;
    z-index: 5;
    position: sticky;
    background-color: #fff;
    box-shadow: 0 10px 8px #00000014;
}
.logo {
    display: flex;
    align-items: center;
    width: 165px;
    padding-top: 4px;
    margin: 0 10px 0 20px;
}
.main-nav {
    display: flex;
}
.main-nav ul {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 5px;
}
.main-nav li {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 100%;
}
.main-nav a:hover {
    color: #1fa9c3;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.login span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
}
.login :hover {
    background-color: #4bbacf;
    transition: 0.25s;
}
.nav-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
}
.nav-cta span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
}
.nav-cta :hover {
    background-color: #ebb359;
    transition: 0.25s;
}

/* main
-------------------- */
/* hero */
.hero-area {
    display: flex;
    align-items: center;
    width: 100%;
    height: 592px;
    background: linear-gradient(180deg, #1FB9C3, #1fa9c3);
}
.hero-left {
    margin:0 20px;
    color: #fff;
}
.hero-left h1 {
    font-size: 40px;
    line-height: 68px;
    font-weight: 700;
    margin-bottom: 12px;
}
.hero-left p {
    font-weight: 700;
    margin-bottom: 25px;
}
/* ↓ spanにhoverかけてたやつ×××
.hero-left span {
    font-size: 20px;
    line-height: 34px;
    font-weight: 300;
    vertical-align: top;
}
.sub-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 48px;
    border-radius: 8px;
}
.sub-cta span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 19px;
    border-radius: 8px;
}
.sub-cta :hover {
    background-color: #ebb359;
    transition: 0.25s;
}
 ↑ spanにhoverかけてたやつ××× */
.sub-cta {
    display: inline-block;
    padding: 15px 9.6px;
    border-radius: 8px;
}
.sub-cta:hover {
    background-color: #ebb359;
    transition: 0.25s;
}
/* hover効かない問題。
クラス名と:hoverの間のスペースが原因だった！
ここにスペースを入れると、「●●クラスの中にある要素（子孫）がhoverされた時」みたいな意味になるらしい。だから.sub-ctaの子であるspanにしか効かなかったんだ。
”スペース＝子孫”っていう認識。
正しくは「.sub-cta:hover {}」。

あとボタンにはdisplay:flexじゃなくてdisplay:inline-blockを使うらしい。
aタグはデフォルトでinline要素なので文字サイズ＝要素サイズになる。だからspanのサイズにしかaタグへの指定が効かなかった。これをinline-blockにすることで、block要素としてサイズ調整とかができるようになるみたい。
これでpaddingでサイズ調整をする。

そもそもボタンにspanをつけるのは、アイコン＋文字などの場合。アイコンと文字それぞれで指定する、文字サイズを変えたいとか。*/
.hero-right {
    display: flex;
    align-items: center;
    height: 592px;
    left: 50%;
    width: 600px;
    position: absolute;
    top: 48px;
}
.hero-right img {
    height: auto;
    max-width: 100%;
}

/* ability */
.ability {
    padding-bottom: 110px;
}
.ability-card {
    display: flex;
    align-items: center;
    margin-top: 110px;
    height: 400px;
    gap: 40px;
}
.ability-text {
    display: flex;
    flex-direction: column;
    width: 540px;
    margin-right: 20px;
}
.ability-card img {
    width: auto;
    height: 400px;
}

/* howto */
.howto {
    padding: 110px 0;
    background-color: #F8F8F8;
}
.howto-area {
    display: flex;
    justify-content: space-between;
    /* gap: 80px; */
}
.howto-card {
    width: 540px;
}

/* function */
.function {
    padding: 110px 0;
}
.function-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px 45px;
}
.function-card h3 {
    text-align: center;
}
.function-ai {
    display: flex;
    margin-top: 110px;
    padding: 40px;
    border: solid thin #1fa9c3;
}
.function-ai img {
    width: 160px;
}
.function-ai h4 {
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: #1fa9c3;
}
.function-ai p {
    margin-bottom: 24px;
}
.function-ai-text {
    margin-left: 45px;
}
.help {
    display: inline-block;
    padding: 15px 9.6px;
    border-radius: 8px;
}
.help:hover {
    background-color: #4bbacf;
    transition: 0.25s;
}

/* achievement */
.achievement {
    text-align: center;
    padding: 110px 0;
}
.js-accordion {
    height: 500px;
    margin-bottom: 24px;
    background-color: #8e8e8e;
}

/* usage */
.usage {
    padding: 110px 0;
    background-color: #F8F8F8;
}
.usage-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px 45px;
    text-align: center;
}
.usage-card h3 {
    margin-top: 15px;
    font-size: 20px;
    line-height: 34px;
}
.usage-card span {
    font-weight: 300;
}

/* blog */
.blog {
    padding: 110px 0;
}
.blog-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    text-align: center;
}
.blog-btn {
    display: flex;
    justify-content: center;
}
.blog-more {
    display: inline-block;
    padding: 10px 40px;
    background-color: #fff;
    color: #67737c;
    border: solid thin #e6e6e6;
    border-radius: 8px;
}
.blog-more:hover {
    background-color: #F8F8F8;
    transition: 0.25s;
}

/* footer
-------------------- */
footer {
    background-color: #1fa9c3;
    color: #fff;
}
.footer-area {
    padding: 70px 0;
}
.footer-inner {
    display: flex;
    justify-content: space-between;
}
.footer-left {
    width: 400px;
}
.footer-left h2 {
    margin-bottom: 20px;
}
.footer-left p {
    margin-bottom: 25px;
}
.main-cta {
    display: inline-block;
    padding: 10px 9.6px;
    font-size: 24px;
    line-height: 29px;
    border-radius: 8px;
}
.main-cta:hover {
    background-color: #ebb359;
    transition: 0.25s;
}
.footer-inner nav {
    display: flex;
    gap: 35px;
}
.footer-nav {
    width: 180px;
}
.footer-nav h3 {
    padding: 7px 0;
    font-size: 16px;
    line-height: 27px;
    border-bottom: solid thin #fff;
}
.footer-nav ul {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    gap: 15px;
}
.footer-nav a {
    font-size: 15px;
    line-height: 26px;
    color: #fff;
}
small {
    font-size: 10px;
    line-height: 17px;
}

/* mb
-------------------- */
@media(max-width: 480px) {
    .align-center {
        width: 480px;
        margin: 0 auto;
    }

    .js-nav {
        display: none;
    }
}